*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  color: #212529;
  font-weight: 400;
  font-size: 1rem;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  text-align: left;
  background-color: #fff;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
}

.container {
  padding-right: 15px;
  padding-left: 15px;
}

pre {
  display: block;
  margin: 2em 0;
  padding: 0.5em;
  overflow-x: auto;
  color: #c9d1d9;
  font-size: 0.875rem;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  direction: ltr;
  unicode-bidi: bidi-override;
  background: #0d1117;
}

.hljs {
  display: block;
  padding: 1em;
  overflow-x: auto;
  font-size: 0.875rem;
  white-space: pre;
}
